<div class="general-stats-div">
  <div class="container">
    <div class="path">
      <p>Home / Dashboard / <span>Workspace</span></p>
    </div>
    <div class="general-section">
      <div class="image-section">
        <img src="../../assets/pc-user.png" alt="pc-user" />
      </div>
      <div class="general-content">
        <div class="general-text">
          <div>
            <h3>Good morning, Serati Ma, I wish you happiness every day!</h3>
            <p>
              Interaction expert | Ant gold service-some certain business
              group-a certain platform department-a certain technical
              department-UED.
            </p>
          </div>
        </div>
        <div class="general-information">
          <div class="number-stats">
            <p>Number of items</p>
            <p><span>56</span></p>
          </div>
          <hr />
          <div class="number-stats">
            <p>Team ranking</p>
            <p><span>8</span> / 24</p>
          </div>
          <hr />
          <div class="number-stats">
            <p>Project visit</p>
            <p><span>2,223</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
