$font: "Open Sans", sans-serif;
$whiteColor: #ffffff;
$greyColor: #e6e9ec;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font;
  background-color: $greyColor;
  margin: 0;

  .container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 90%;
    }
  }
}
