$whiteColor: #ffffff;
$greyColor: #e6e9ec;

.team-div {
  background-color: $whiteColor;
  border-radius: 2px;
  margin: 20px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.089);

  h3 {
    font-size: 18px;
    margin: 0;
    padding: 20px 0 20px 21px;
  }

  hr {
    margin: 0;
    background-color: $greyColor;
    border: 0;
    height: 1px;
  }

  .team-list {
    display: grid;

    @media (min-width: 480px) {
      grid-template-columns: 1fr 1fr;
    }

    p {
      font-size: 15px;
      margin: 0;
    }

    img {
      width: 24px;
      border-radius: 50%;
    }

    div {
      display: grid;
      grid-template-columns: 1fr 5fr;
      column-gap: 8px;
      padding: 20px;
    }
  }
}
